.textArea{
	height: 76px;
	width: 100%;
	margin: 20px 30px;

	padding: 7px 15px;

	resize: none;

	color: var(--black);

	border: none;
	border-radius: 5px;
	outline-color: var(--primary);

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);

	font-family: var(--font-family);

	font-size: 16px;
	line-height: 22px;

}

.textArea::placeholder{
	color: var(--gray);
}
.error{
	border: 1px solid var(--red);
	
}
.textAreaWrapper{
	position: relative;
}
.errorMessage{
	position: absolute;
	left: 0;
	bottom: -20px;
	color: var(--red);
}