.product{
	display: grid;
	grid-template-columns: [start] 70px [logoend] 30px [titlestart] calc(50% - 100px) [middle] 1fr [pricestart] auto [priceend] 40px [creditstart] auto [creditend ] 40px [ratestart] auto [end];


	margin-top: 30px;
	padding: 30px;
}
.logo{
	grid-column: start /logoend;
	grid-row: 1/ span 2;

	margin-bottom: 20px;
}
.title, .tags{
	grid-column: titlestart / middle;

}
.price, .priceTitle{
	grid-column: pricestart/ priceend;
}
.credit, .creditTitle{
	grid-column:creditstart / creditend;
    
}
.rating, .rateTitle{
	grid-column: ratestart / end;
}


.hr , .description{
	grid-column: start/end;
}

.features{
	grid-column: start / middle;

	margin-bottom: 20px;
}
.advBlock{
	grid-column: middle/end;
}
.actions{
	display: flex;
	flex-wrap: wrap;

	margin-bottom: 20px;
	grid-column: start/end;
	gap: 20px;
}




.characteristics{
	display: grid;

	align-items: baseline;

	padding-right: 60px;
	grid-template-columns: auto 1fr auto;
}
.charactericsName{
	font-size: 16px;
	font-weight: 700;
	line-height: 32px;
}
.caracteristicsValue{
	max-width: 250px;

	text-align: right;

	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
    
}
.caractristicsDots{
	align-self: center;

	margin: 5px 13px;

	border-bottom: 1px dashed var(--gray-light);
}


.logo img{
	border-radius: 5px;
}

.title{
	align-self: flex-end;

	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
}
.price , .credit{
	align-self: flex-end;

	font-size: 20px;
	line-height: 27px;
}

.rating{
	align-self: flex-end;

}
.description {
	margin-bottom: 15px;

	font-size: 16px;
	line-height: 24px;
}

.priceTitle,.creditTitle,.rateTitle{
	font-size: 14px;
	font-weight: 300;
	line-height: 19px;
}
.month{
	font-style: 14px;
	line-height: 19px;
}
.oldPrice{
	margin-left: 5px;
}
.category{
	margin-top: 5px;
}


.advTitle{
	margin-bottom:  5px;

	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
}
.advantages{
	margin-bottom: 20px;
	padding-left: 15px;

	border-left: 3px solid var(--green);
}
.disadvantages{
	padding-left: 15px;

	border-left: 2px solid var(--red);
}
.advBlock{
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

.reviews{
	padding: 30px;
	
}
.rateTitle{
	color: var(--primary);
}

@media screen and (max-width:1320px) {
	.product{
		display: grid;
		grid-template-columns: 
         70px  30px auto 40px auto 40px  1fr ;
		grid-template-areas: 
			"logo . title  title title title title"
			"logo . tags tags tags tags tags"
			'price price price . credit . rating'
			'priceTitle priceTitle priceTitle . creditTitle  . rateTitle'
			'hr hr hr hr hr hr hr '
			'description description description description description description description'
			'features features features features features features features '
			"advBlock advBlock advBlock advBlock advBlock advBlock advBlock"
			"hr2 hr2 hr2 hr2 hr2 hr2 hr2"
			'actions actions actions actions actions actions actions';

	}
	.logo {
		grid-area: logo;
	}
	.title {
		grid-area: title;
	}
	.tags {
		grid-area: tags;

		margin-bottom: 20px;
	}
	.price {
		grid-area: price;
	}
	.credit {
		grid-area: credit;
	}
	.rating {
		grid-area: rating;
	}
	.priceTitle {
		grid-area: priceTitle;
	}
	.creditTitle {
		grid-area: creditTitle;
	}
	.rateTitle {
		grid-area: rateTitle;
	}
	.hr{
		grid-area: hr ;
	}

	.hr2 {
		grid-area: hr2;
	}
	.description {
		grid-area: description;
	}
	.features {
		grid-area: features;
	}
	.advBlock {
		grid-area: advBlock;
	}
	.h2 {
		grid-area: h2;
	}
	.actions {
		grid-area: actions;
	}

}

@media screen and (max-width:640px) {
    
	.product{
		display: grid;
		grid-template-columns: 
         70px  30px 1fr;
		grid-template-areas: 
			"logo . title  "
			"logo . tags"
			'priceTitle priceTitle price '
			'creditTitle creditTitle credit'
			'rateTitle rateTitle rating '
			'hr hr hr  '
			'description description description '
			'features features features '
			"advBlock advBlock advBlock "
			"hr2 hr2 hr2 "
			'actions actions actions ';

	}
	.price , .credit , .rating{
		margin-bottom: 10px;
	}

}

@media screen and (max-width:480px) {
	.product{
		display: grid;
		grid-template-columns: 
        1fr ;
		grid-template-areas: 
			"logo "
			'title'
			"tags"
			'price '
			'priceTitle '
			'credit'
			'creditTitle'
			' rating '
			'rateTitle '
			'hr '
			'description '
			'features '
			"advBlock "
			"hr2 "
			'actions  ';

	}}


